<!DOCTYPE html>
<html>
<head>
  <title>Bouquet</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body  id="page-body">
<%= render "shared/menu" %>
<%= render "shared/map" %>

<%= yield %>

<div class="clearfix"></div>
</body>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyAGe9B_zL2EM15cQdtdRf1CAWpb8kwPrZw&libraries=visualization"
        async defer></script>

        

</html>
 