<!DOCTYPE html>
<html>
<head>
  <title>Bouquet</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body  id="page-body">
<%= render "shared/menu" %>
<%= render "shared/map" %>

<%= yield %>

<div class="clearfix"></div>
</body>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

</html>